@if (podium.length > 0) {
<div class="podium-container">
  <ul class="podium-list">
    @for (driver of podium; track driver; let i = $index) {
    <li class="podium-item">
      @if (getMedalInfo(i)) {
      <img
        [src]="getMedalInfo(i)!.src"
        [alt]="getMedalInfo(i)!.alt"
        class="medal"
      />
      {{ podium[i] }}
      } @else {
      {{ i + 1 }}. {{ podium[i] }}
      }
    </li>
    }
  </ul>
  <button type="button" (click)="hide()" title="smaller" class="hide-button">
    Hide
  </button>
</div>
}
